# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler
bun.lock
src/models/generated
src/queries/generated
# IDE
.vscode/*
!.vscode/extensions.json
.idea
yarn.lock